.product {
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
    .thumb {
        position: relative;
        overflow: hidden;
        .image {
            position: relative;
            display: block;
            overflow: hidden;
        }
        .badges {
            position: absolute;
            z-index: 8;
            top: 20px;
            left: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 1;
                display: block;
                padding: 4px 12px;
                text-align: center;
                text-transform: capitalize;
                color: #ffffff;
                border-radius: 3px;
                &.new {
                    background-color: #00c4cc;
                }
                &.sale {
                    background-color: #222222;
                }
            }
        }

        .add-cart-btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
            bottom: -25px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 100%;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            opacity: 0;
            visibility: hidden;
            z-index: 9;
            .btn {
                -webkit-box-shadow: 0 2px 1px 0.5px rgba(0, 0, 0, 0.1);
                box-shadow: 0 2px 1px 0.5px rgba(0, 0, 0, 0.1);
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                padding: 12px 25px;
            }
        }
    }
    .content {
        position: relative;
        z-index: 10;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 20px 15px 0;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        text-align: center;
        background-color: #ffffff;
        .title {
            font-size: 17px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 12px;
            color: #222222;
        }
    }
    .price {
        clear: both;
        font-size: 16px;
        line-height: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #222222;
        span {
            &.new {
                color: #00c4cc;
            }
            &.old {
                font-size: 14px;
                margin-left: 10px;
                text-decoration: line-through;
                color: #dc3545;
                opacity: 0.5;
            }
        }
    }

    &:hover {
        .thumb {
            .add-cart-btn {
                visibility: visible;
                opacity: 1;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                bottom: 15px;
            }
            .actions .action {
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    .actions {
        position: absolute;
        z-index: 9;
        top: 15px;
        right: 15px;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease 0s;
        .action {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;

            transition: all 0.5s ease 0s;
            text-decoration: none;
            color: #222222;
            border-radius: 5px;
            background-color: #ffffff;
            visibility: hidden;
            transform: translateY(20px);
            opacity: 0;
            position: relative;
            + .action {
                margin-top: 10px;
                margin-left: 0;
            }
            &.wishlist::before {
                content: "Wishlist";
            }
            &compare::before {
                content: "Compare";
            }
            &.quickview::before {
                content: "Quickview";
            }
            &::after {
                content: "";
                position: absolute;
                right: 90%;
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
                background-color: #222222;
                margin-right: 3px;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
            &::before {
                position: absolute;
                right: 90%;
                padding: 5px 10px;
                border-radius: 5px;
                color: #ffffff;
                background-color: #222222;
                top: 50%;
                transform: translateY(-50%);
                margin-right: 8px;
                font-size: 12px;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
            }
            &:hover {
                &:not(.active) {
                    color: #ffffff;
                    background-color: #00c4cc;
                }
                &::before,
                &::after {
                    visibility: visible;
                    right: 100%;
                    opacity: 1;
                    transition: 0.3s;
                }
            }
        }
    }
}


.single-product-list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .product {
        overflow: visible;
        width: 80px;
    }
    .product-list-content {
        padding-left: 10px;
        width: calc(100% - 80px);
        .product-name {
            font-size: 16px;
            line-height: 1.5;
            padding-bottom: 10px;
            margin-bottom: 0;
            font-weight: 400;
        }
        .price {
            text-align: left;
            justify-content: flex-start;
        }
    }
}

.featured-collection .slick-slide {
    > div {
        margin-left: 5px;
        margin-right: 5px;
        &:first-child {
            margin-bottom: 40px;
        }
    }
}

.on-sale-product {
    .slick-slide {
        > div {
            line-height: 0;
        }
    }
}