header {
    position: relative;
}

.header-top {
    color: $color-white;
    padding-top: 10px;
    padding-bottom: 10px;
    p {
        @include flex-center;
        margin: 0;
    }
    svg {
        margin-right: 8px;
        display: inline-block;
    }
}

.header-bottom {
    background-color: $color-accent;
    color: $color-white;
}

.announcement__bar {
    &__message svg {
        margin-right: 4px;
        max-width: 16px;
    }
}

.main-menu {
    @include flex-justify-center;
    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background-color: $color-white;
        height: 50px;
        z-index: 1;
        opacity: 0;
        transition: 0.5s;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
        .menu-item-level-0 {
            > a {
                color: #000;
            }

            &.active > a {
                color: $color-accent;
            }
            &:hover {
                color: $color-accent;
                > a {
                    color: $color-accent;
                }
            }
        }
    }
    .wrapper-submenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        &::before {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: $color-white;
            z-index: 1;
            opacity: 1;
            transition: 0.5s;
        }
    }

    .menu-items {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 999;
        &-level-0 {
            @include flex-justify-center;
            flex-wrap: wrap;
        }
        &-level-0 {
        }
        &-level-1 {
            display: none;
            margin: 0 auto;
            padding: 0 15px;
            width: 100%;
            max-width: 1440px;
            z-index: 1;
            position: relative;
            margin-top: 10px;
            padding-bottom: 20px;
        }
        &-level-2 {
        }
    }

    .menu-item {
        svg {
            transition: all 0.5s;
            font-size: 18px;
            margin-bottom: 6px;
            display: inline-block;
        }

        + .menu-item-level-0 {
            margin-left: 25px;
        }

        &-level-0 {
            > a {
                font-size: 16px;
                line-height: 50px;
                letter-spacing: 0.64px;
                text-decoration: none;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                color: $color-white;
                position: relative;
                font-weight: 600;
            }
            &:hover {
                .menu-items-level-1 {
                    display: block;
                }
            }
        }

        &-level-1 {
            display: inline-block;
            width: 220px;
            margin-top: 10px;
            vertical-align: top;
            > a {
                font-size: 14px;
                line-height: 20px;
                padding: 3px 0;
                color: $color-accent;
                font-weight: 600;
                margin-bottom: 8px;
                display: inline-block;
                svg {
                    transform: rotate(270deg);
                    margin-bottom: 3px;
                }
            }
        }

        &-level-2 {
            > a {
                padding: 3px 0;
                text-align: left;
                line-height: 20px;
                font-size: 14px;
                color: $color-text;
                display: inline-block;
                font-weight: 300;
            }
        }
        &.has-image {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
            img {
                border-radius: 32px;
                transition: 0.3s;
                border: 2px solid transparent;
                &:hover {
                    border-color: $color-accent;
                }
            }
        }

        &.active a {
            color: #000;
        }

        &:hover {
            svg {
                transform: rotate(180deg);
            }
            .sub-menu {
                transform: scaleY(1);
            }
        }
    }
}

.actions {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    color: $color-white;
    > * + * {
        margin-left: 8px;
    }

    svg {
        font-size: 26px;
    }

    .actions-btn {
        line-height: 1;
        position: relative;
        display: flex;
        text-decoration: none;
        align-items: center;
        gap: 10px;
        padding: 12px;
        &:hover {
            color: $color-accent;
            background-color: $color-white;
            border-radius: 15px;
        }
        svg {
            height: 24px;
            width: 24px;
            fill: none;
            vertical-align: middle;
        }
        span {
            font-size: 14px;
            line-height: 24px;
            margin-top: 4px;
        }
    }
}

.offcanvas-lag-curr {
    .header-top-lan-curr-link {
        .dropdown {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            .title {
                font-size: 13px;
                font-weight: 400;
                margin: 0;
            }
            .dropdown-toggle {
                border: 0px;
                background: transparent;
                line-height: 1;
                font-size: 13px;
            }
        }
        li a {
            font-size: 13px;
            line-height: 1;
            padding: 5px 10px;
        }
    }
}

.header-search {
    margin: 0 45px;
    position: relative;
    input {
        width: 100%;
        padding: 16px 16px 16px 55px;
        color: #222222;
        border-radius: 16px;
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
    .search-btn {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}
