@use "sass:map";
@import "src/sass/theme/variable";

.header-top {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    p {
        margin: 0;
    }
}

.header-top-settings > ul > li {
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    margin-left: 40px;
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &::before {
        top: 50%;
        left: 0;
        width: 1px;
        height: 15px;
        content: "";
        position: absolute;
        background-color: #efefef;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    &:first-child {
        padding-left: 0;
        margin-left: 0;
    }
}

