$color-white: #f0f0f0;
$color-accent: #cf102d;
$color-link: #041675;
$color-gray: #333;
$color-text: #111;
$color-heading:#041675;





$font-helvetica: "Helvetica Neue";
$font-plus: "Plus Jakarta Sans";